header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 8px;
}

.hero {
    background-image: url("dallaspic.jpg");
}
article {
    border: 2px solid black;
}

footer {
    text-align: center;
}

#about {
    display: inline-flex;
    flex-flow: row wrap;
}