* {
    margin: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(42, 41, 41);
}
header h1 {
    background-color: lightblue;
    color: rgb(42, 41, 41);
    width: 265px;
    height: 40px;
    text-align: center;
}
nav ul li{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 8px;
}

nav ul li a {
    text-decoration: none;
    color: lightblue;
    font-size: 22px;
}

#hero {
    background-image: url("../images/dallaspic2.png");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: end;
    justify-content: end;
    
}

.hero-text{
    color: white;
    padding-right: 10px;
    font-size: 35px;
}

div {
    display: flex;
}


#about p {
    font-size: 18px;
    padding-left: 10px;
}


.section {
    padding: 35px 0;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.section h2 {
    color: rgb(42, 41, 41);
}

.section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 2px solid black;
    line-height: 1.1;
    font-size: 40px;
}



.section > div {
    flex: 0 0 77%;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#work {
    display: flex;
    flex-flow:row wrap;
}

.card {
    border: 3px solid lightblue;
    display: flex; 
    min-height: 150px;
    max-height: 150px;
    flex-basis: 48%;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    color: black;
}


.card:first-child {
    min-height: 400px;
    flex-basis: 98%;
}

.card div {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background-color: black;
    color: white;
    min-height: fit-content;
}

.card div h3 {
    font-size: 1.6rem;
    margin-top: 12px;
}
.card div p {
    margin-bottom: 12px;
}

#surf {
    background: url("../images/surf.jpg");
    background-size: cover;
    opacity: 0.8;
}

#surf:hover {
    opacity: 1;
}

#led {
    background-image: url("../images/led.jpg"); 
    background-size: cover;
    opacity: 0.8;   
}

#led:hover {
    opacity: 1;
}

#calc {
    background-image: url("../images/calc.jpg");
    background-size: cover;
    opacity: 0.8;
}

#calc:hover {
    opacity: 1;
}

#puzzle {
    background-image: url("../images/puzzle.jpg");
    background-size: cover;
    opacity: 0.8;
}

#puzzle:hover {
    opacity: 1;
}

#run {
    background-image: url("../images/run.jpg");
    background-size: cover;
    opacity: 0.8;
}

#run:hover {
    opacity: 1;
}

#contact-me {
    flex-wrap: nowrap;
}

#contact-me ul li {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px 100px;
    border-bottom: 2px solid lightblue;
}

#contact-me ul li a {
    text-decoration: none;
    color: black;
}

#contact {
    margin: auto;
    justify-content: center;
}

#contact ul {
    justify-content: space-evenly;
}

#contact ul li {
    margin-left: 50px;
}
footer {
    text-align: center;
    margin: 10px;
}
